Repository ni/nilrt-snac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Use forward slashes
  azure-pipeline.yaml
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Debug info
  azure-pipeline.yaml
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Case matters on Linux
  azure-pipeline.yaml
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Different path
  azure-pipeline.yaml
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Different path
  azure-pipeline.yaml
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Update azure-pipeline.yaml to call mobilize plan
  azure-pipeline.yaml
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Inconsistent handling of --dry-run in different configs. This change makes how --dry-run is handled more consistent.
  nilrt_snac/_configs/_console_config.py
  nilrt_snac/_configs/_firewall_config.py
  nilrt_snac/_configs/_graphical_config.py
  nilrt_snac/_configs/_niauth_config.py
  nilrt_snac/_configs/_ntp_config.py
  nilrt_snac/_configs/_opkg_config.py
  nilrt_snac/_configs/_wifi_config.py
  nilrt_snac/_configs/_wireguard_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

fix opkg .conf file permissions
  nilrt_snac/_configs/_opkg_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Initial commit
  nilrt_snac/__main__.py
  nilrt_snac/_configs/__init__.py
  nilrt_snac/_configs/_auditd_config.py
  nilrt_snac/_configs/_config_file.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

All of first work item complete
  nilrt_snac/_configs/_auditd_config.py
  nilrt_snac/_configs/_config_file.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Install and configure syslog-ng and add verification test
  nilrt_snac/_configs/__init__.py
  nilrt_snac/_configs/_auditd_config.py
  nilrt_snac/_configs/_syslog_ng_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Clean syslog
  nilrt_snac/_configs/__init__.py
  nilrt_snac/_configs/_syslog_ng_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Install and configure Auditd Daemon
  nilrt_snac/__main__.py
  nilrt_snac/_configs/__init__.py
  nilrt_snac/_configs/_auditd_config.py
  nilrt_snac/_configs/_config_file.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Update CHANGELOG
  docs/CHANGELOG.md
Owners: @amstewart, @AlexHearnNI

Cleanup/style, add recommended SMTP package dependency
  nilrt_snac/_configs/_auditd_config.py
  nilrt_snac/_configs/_config_file.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Correct audit_email Logic
  nilrt_snac/_configs/_auditd_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Use perl-module-net-smtp as recommended SMTP Package
  nilrt_snac/_configs/_auditd_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Styling Improvements
  nilrt_snac/_configs/_auditd_config.py
  nilrt_snac/_configs/_config_file.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Cleanup naming conventions
  nilrt_snac/__main__.py
  nilrt_snac/_configs/_auditd_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Add loop for email input
  nilrt_snac/_configs/_auditd_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Install and configure syslog-ng
  docs/CHANGELOG.md
  nilrt_snac/__main__.py
  nilrt_snac/_common.py
  nilrt_snac/_configs/__init__.py
  nilrt_snac/_configs/_auditd_config.py
  nilrt_snac/_configs/_config_file.py
  nilrt_snac/_configs/_opkg_config.py
  nilrt_snac/_configs/_syslog_ng_config.py
Owners: @amstewart, @AlexHearnNI, @ni/rnd-security

Install and configure syslog-ng
  docs/CHANGELOG.md
  nilrt_snac/_common.py
  nilrt_snac/_configs/__init__.py
  nilrt_snac/_configs/_auditd_config.py
  nilrt_snac/_configs/_syslog_ng_config.py
Owners: @amstewart, @AlexHearnNI, @ni/rnd-security

Improve Template Script Formatting and Remove sudo Ownership
  nilrt_snac/_configs/_auditd_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Fix Initialization of auditd_config_file
  nilrt_snac/_configs/_auditd_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Ensure Persistent Log Directory Permissions
  nilrt_snac/_configs/_auditd_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Remove invalid permissions check for syslog-ng
  nilrt_snac/_configs/_syslog_ng_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Fix verification errors caused by 'contains' function
  nilrt_snac/_configs/_config_file.py
  nilrt_snac/_configs/_ntp_config.py
  nilrt_snac/_configs/_opkg_config.py
  nilrt_snac/_configs/_ssh_config.py
  nilrt_snac/_configs/_sudo_config.py
  nilrt_snac/_configs/_tmux_config.py
  nilrt_snac/_configs/_wifi_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Update Changelog
  docs/CHANGELOG.md
Owners: @amstewart, @AlexHearnNI

Remove unnecessary imports
  nilrt_snac/_configs/_syslog_ng_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Configure fixes ssh verify errors
  nilrt_snac/_configs/_ssh_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

remove some trailing whitespace
  docs/CHANGELOG.md
  nilrt_snac/_configs/_auditd_config.py
  nilrt_snac/_configs/_ssh_config.py
  nilrt_snac/_configs/_syslog_ng_config.py
Owners: @amstewart, @AlexHearnNI, @ni/rnd-security

_auditd_config.py: fix init script so that it gets run by init
  nilrt_snac/_configs/_auditd_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

_firewall_config.py: add syslog service to work-out policy
  nilrt_snac/_configs/_firewall_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

_auditd_config.py: do not check permissions on file that doesn't exist
  nilrt_snac/_common.py
  nilrt_snac/_configs/_auditd_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

add ni-logos-xt to work-out policy
  nilrt_snac/_configs/_firewall_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

add to Unreleased/Changed section of changelog
  docs/CHANGELOG.md
Owners: @amstewart, @AlexHearnNI

Print action when --dry-run
  nilrt_snac/_configs/_console_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Refactor get method in EqualsDelimitedConfigFile to improve key-value retrieval logic
  nilrt_snac/_configs/_config_file.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Add USBGuard configuration support, remove configuration support and add verification
  nilrt_snac/_configs/__init__.py
  nilrt_snac/_configs/_usbguard_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Add entry for usbguard to CHANGELOG
  docs/CHANGELOG.md
Owners: @amstewart, @AlexHearnNI

.github/CODEOWNERS:

# default
* @ni/rnd-security @amstewart @AlexHearnNI

# project meta data and maintainership
.github/* @amstewart @AlexHearnNI
docs/* @amstewart @AlexHearnNI
LICENSE @amstewart @AlexHearnNI
