Repository ni/nilrt-snac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Ignore failure of rmmod cfg80211 mac80211 command
  src/configure-nilrt-snac
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Update CHANGELOG.md
  docs/CHANGELOG.md
Owners: @amstewart, @AlexHearnNI

configure-nilrt-snac: configure faillock
  src/configure-nilrt-snac
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Makefile: fix build issue with 'all' target
  Makefile
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Makefile: fix build issue with 'all' target
  Makefile
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Convert bash script to Python: AB#2831708
  .gitignore
  Makefile
  nilrt_snac/OpkgHelper.py
  nilrt_snac/__init__.py
  nilrt_snac/__main__.py
  nilrt_snac/_common.py
  nilrt_snac/_configs/__init__.py
  nilrt_snac/_configs/_base_config.py
  nilrt_snac/_configs/_config_file.py
  nilrt_snac/_configs/_console_config.py
  nilrt_snac/_configs/_cryptsetup_config.py
  nilrt_snac/_configs/_faillock_config.py
  nilrt_snac/_configs/_niauth_config.py
  nilrt_snac/_configs/_ntp_config.py
  nilrt_snac/_configs/_opkg_config.py
  nilrt_snac/_configs/_pwquality_config.py
  nilrt_snac/_configs/_usbguard_config.py
  nilrt_snac/_configs/_wifi_config.py
  nilrt_snac/_configs/_wireguard_config.py
  nilrt_snac/_configs/_x11_config.py
  nilrt_snac/_pre_reqs.py
  src/configure-nilrt-snac
  src/nilrt-snac
  src/util.sh
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

* Add tmux configuration when snac mode is enabled * Set lock time to 15 minutes of inactivity * Switch shell to tmux on login so inactivity lock can be used
  docs/CHANGELOG.md
  nilrt_snac/_configs/__init__.py
  nilrt_snac/_configs/_tmux_config.py
Owners: @amstewart, @AlexHearnNI, @ni/rnd-security

README: update readme
  README.md
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

CHANGELOG: update for PR 15
  docs/CHANGELOG.md
Owners: @amstewart, @AlexHearnNI

_niauth_config: remove unused import
  nilrt_snac/_configs/_niauth_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Makefile: export project-scope variables
  Makefile
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Makefile: clean up install/uninstall code
  Makefile
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

OpkgHelper: defer update to install operation
  nilrt_snac/OpkgHelper.py
  nilrt_snac/__main__.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

tests/integration: use relative pathing to find CLI
  tests/integration/fixtures.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

nilrt_snac: explicitly define program name
  nilrt_snac/__main__.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

add integration tests
  .gitignore
  Makefile
  docs/CONTRIBUTING.md
  tests/integration/__init__.py
  tests/integration/fixtures.py
  tests/integration/pytest.ini
  tests/integration/test_cli.py
  tests/integration/test_installation.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

nilrt_snac: remove unappropriate newline in version
  nilrt_snac/__main__.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

nilrt_snac: resolve the datadir path when assigned
  nilrt_snac/__init__.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Makefile: fix malfunctioning uninstall rule
  Makefile
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

nilrt_snac: rename OpkgHelper.py to opkg.py
  nilrt_snac/__main__.py
  nilrt_snac/_configs/_cryptsetup_config.py
  nilrt_snac/_configs/_faillock_config.py
  nilrt_snac/_configs/_niauth_config.py
  nilrt_snac/_configs/_ntp_config.py
  nilrt_snac/_configs/_opkg_config.py
  nilrt_snac/_configs/_tmux_config.py
  nilrt_snac/_configs/_usbguard_config.py
  nilrt_snac/_configs/_wireguard_config.py
  nilrt_snac/_configs/_x11_config.py
  nilrt_snac/_pre_reqs.py
  nilrt_snac/opkg.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

nilrt_snac: fix misspelled enum
  nilrt_snac/_pre_reqs.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

.github: add PR test
  .github/workflows/pr-test.yml
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Install libpwquality when configuring pwquality
  nilrt_snac/_configs/_pwquality_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

nilrt-snac: configure sudo
  nilrt_snac/_configs/__init__.py
  nilrt_snac/_configs/_sudo_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

nilrt-snac: remove redundant error logs
  nilrt_snac/_configs/_opkg_config.py
  nilrt_snac/_configs/_sudo_config.py
  nilrt_snac/_configs/_tmux_config.py
  nilrt_snac/_configs/_wifi_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

nilrt-snac: remove niacctbase-sudo package
  nilrt_snac/_configs/_niauth_config.py
  src/nilrt-snac-conflicts/control
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

Set correct permissions on tmux config files
  nilrt_snac/_configs/_tmux_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

_niauth_config: remove "Log in with your NI-Auth credentials." message from issue
  nilrt_snac/_configs/_niauth_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

_firewall_config: add
  nilrt_snac/_configs/__init__.py
  nilrt_snac/_configs/_firewall_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

nilrt-snac configure: avoid side effects when setting a weak password
  nilrt_snac/_configs/_pwquality_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

_firewall_config.py: explicitly add ICMP to all policies
  nilrt_snac/_configs/_firewall_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

_firewall_config.py: reformat --add-services= commands
  nilrt_snac/_configs/_firewall_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

_firewall_config.py: remove REJECT target from work-in, public-in policies
  nilrt_snac/_configs/_firewall_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

_firewall_config.py: work-out, public-out: allow basic ICMPv6 traffic
  nilrt_snac/_configs/_firewall_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

remote-test-firewall.sh: add
  tests/system/remote-test-firewall.sh
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

remote-test-firewall.sh: firewall-cmd --reload on EXIT
  tests/system/remote-test-firewall.sh
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

remote-test-firewall.sh: add tests: firewall not running; target reset
  tests/system/remote-test-firewall.sh
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

remote-test-firewall.sh: test to ensure that firewalld is running on startup
  tests/system/remote-test-firewall.sh
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

_FirewallConfig.verify: fix input policy checks
  nilrt_snac/_configs/_firewall_config.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

test_cli: use relative imports for fixtures
  tests/integration/test_cli.py
Owners: @ni/rnd-security, @amstewart, @AlexHearnNI

.github/CODEOWNERS:

# default
* @ni/rnd-security @amstewart @AlexHearnNI

# project meta data and maintainership
.github/* @amstewart @AlexHearnNI
docs/* @amstewart @AlexHearnNI
LICENSE @amstewart @AlexHearnNI
